# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.FabricLang.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Cinnamon\RiderProjects\FabricLang\.idea\.idea.FabricLang\.idea/dataSources/
/dataSources.local.xml
